@font-face {
    font-family: "Verdana";
    src: url("/verdana.ttf");
}

@font-face {
    font-family: "Verdana";
    src: url("/verdana-bold.ttf");
    font-weight: bold;
}

:root {
    font-family: "Verdana", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}