---
import "@/styles/base.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>yusof</title>
	</head>
	<body>
		<slot/>
	</body>
</html>
